.wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  background: #3e4d4b2c;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 4px 4px 16px 0px #03062c;
  color: #03062c;
}

.info {
  width: 100%;
  margin: 0 30px;
}

.photo {
  max-height: 250px;
}

.description {
  text-align: start;
}

.series {
  margin: 10px 0;
}

.edition {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  color: #e60d0d;
}
